span{
    color: red;
 }
  
 /* clase */
 p.blau{
    color: blue;
 }
  
 p.especial1{
    font-style: oblique;
 }
  
 p.especial1{
    color: red;
 }
  
  
 /* clase universal */
  
 .verde{
    color: green;
 }
  
 p.definicion{
    color: green;
 } 